# Vision
torch==2.3.0
ultralytics>=8.2
supervision
opencv-python-headless
matplotlib

# Audio
birdnet-analyzer>=2.0
birdnetlib==0.18.0    # BirdNET library
soundfile

# AWS SDK
boto3

# Common
numpy
requests